# Root
node_modules
.env

# Backend
backend/node_modules
backend/.env

# Frontend
smart-parking-frontend/node_modules
smart-parking-frontend/.env
smart-parking-frontend/dist
smart-parking-frontend/build

# Common
dist
build